# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies & Build outputs
node_modules
dist
dist-ssr
*.local

# Vite / Build temporary files
.vite
.eslintcache

# TypeScript
*.tsbuildinfo

# Environment variables (Crucial for React apps)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?